@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$color-primary: #1D5D9B;
$color-secondary: #F4D160;
$color-tertiary: #75C2F6;
$color-white: #ffffff;
$color-black: #1d1b1b;
$bg-main: #FBEEAC;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet { /* USAGE: @include tablet {} */
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop { /* USAGE: @include desktop {} */
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@function rem($num) {
  @return calc($num / 16) + rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, ul, ol, p, h1, h2 {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient($color-secondary, $bg-main);
  color: $color-primary;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 20px 0;

  h2 {
    font-size: 18px;
    letter-spacing: 0;
  }

  .button--icon {
    min-width: 40px;
    min-height: 40px;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1;
    overflow-y: scroll;
    touch-action: none;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
  }

  .card-counter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
}

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}

li {
  list-style: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 18px;

  &:active,
  &:disabled {
    opacity: .8;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }

  &--full {
    height: 100%;
    width: 100%;
  }

  &--voice-output {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: $color-secondary;
    border: 2px solid $color-primary;
    width: 80px;
    height: 80px;
    border-radius: 50%;

  }

  &--icon {
    color: $color-primary;
    height: auto;
  }
}

.card {
  background-color: transparent;
  min-width: 100vw;
  max-width: 100vw;
  height: 53vh;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    position: relative;
    width: 80%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;

    .card.card__flipped & {
      transform: rotateY(180deg);
    }
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 1px solid $color-primary;
  }

  &__front {
    background-color: $color-tertiary;
    color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }

  &__back {
    background-color: $color-secondary;
    color: $color-primary;
    transform: rotateY(180deg);
  }
}

.menu {
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: transform .4s ease-in;

  &__content {
    background-image: linear-gradient($color-secondary, $bg-main);
    border-right: 1px solid $color-black;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 60px 20px 50px;

    .button--icon {
      position: absolute;
      top: 20px;
      right: 20px;
      min-width: 30px;
      min-height: 30px;
      z-index: 10;
    }
  }
}
.menu--open .menu {
  transform: translateX(0%);
}