@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body, ul, ol, p, h1, h2 {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(#F4D160, #FBEEAC);
  color: #1D5D9B;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 20px 0;
}
.header h2 {
  font-size: 18px;
  letter-spacing: 0;
}
.header .button--icon,
.header .button--icon svg {
  min-width: 40px;
  min-height: 40px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main__container {
  flex: 1;
  overflow-y: scroll;
  touch-action: none;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}
.main .card-counter {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}

li {
  list-style: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
}
.button:active, .button:disabled {
  opacity: 0.8;
}
.button--primary {
  background-color: #1D5D9B;
  color: #F4D160;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
.button--full {
  height: 100%;
  width: 100%;
}
.button--voice-output {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #F4D160;
  border: 2px solid #1D5D9B;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.button--icon {
  color: #1D5D9B;
  height: auto;
}

.card {
  background-color: transparent;
  min-width: 100vw;
  max-width: 100vw;
  height: 53vh;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__inner {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.card.card__flipped .card__inner {
  transform: rotateY(180deg);
}
.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border: 1px solid #1D5D9B;
}
.card__front {
  background-color: #75C2F6;
  color: #1d1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.card__back {
  background-color: #F4D160;
  color: #1D5D9B;
  transform: rotateY(180deg);
}

.menu {
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: transform 0.4s ease-in;
}
.menu__content {
  background-image: linear-gradient(#F4D160, #FBEEAC);
  border-right: 1px solid #1d1b1b;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 100px 20px;
}
.menu__content .button--icon,
.menu__content .button--icon svg {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 30px;
  min-height: 30px;
  z-index: 10;
}

.menu--open .menu {
  transform: translateX(0%);
}

.form-add-word {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}
.form-add-word__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-add-word__input input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #75C2F6;
  font-size: 18px;
  padding: 0 20px;
}
.form-add-word__input input[type=text]:focus, .form-add-word__input input[type=text]:active, .form-add-word__input input[type=text]:focus-within, .form-add-word__input input[type=text]:focus-visible {
  border: 1px solid #1D5D9B;
  outline: none;
}
.form-add-word .button {
  height: 80px;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */